.header{
    background-color: #e74c3c;
    color: white
}
ul{
    list-style: none;
    margin-top: 12px
}
ul li{
    display: inline-block;
}
ul li a{
    color: white;
    text-decoration: none;
        padding: 5px 10px;

}
ul li a:hover{
    color: white;
    background-color: #b72313;
    padding: 5px 10px;
    
}
.logo{
    font-size: 2rem;
    display: inline-block;
}

.banner{
    color: white;
    background-image: url(https://github.com/mahadi131/project/blob/main/background.jpg);
    background-size: cover;
    height: 400px
}
.banner-title h1{
    background: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
    color: black;
    margin: 0;
}
.banner .container{
    margin-top: 50px
}
p.lead{
    background-color: rgba(231,76,60,0.7);
    padding: 10px;
}
